<div class='sub-jumbotron' style="border-top: 1px dashed #b9bdad;">
    <div class='container'>
        <ul>
            <li>
                <a href="/documentation/" class="{{ entry.overview }}">Overview</a>
            </li>
            <li>
                <a href="/documentation/installation/" class="{{ entry.installation }}">Installation</a>
            </li>
            <li>
                <a href="/documentation/index-operations/" class="{{ entry.index-operations }}">Index Operations</a>
            </li>
            <li>
                <a href="/documentation/indexing-documents/" class="{{ entry.indexing-documents }}">Indexing Documents</a>
            </li>
            <li>
                <a href="/documentation/search/" class="{{ entry.search }}">Search</a>
            </li>
            <li>
                <a href="/documentation/errors/" class="{{ entry.errors }}">Errors</a>
            </li>
            <li>
                <a href="/documentation/extending-sherlock/" class="{{ entry.extending-sherlock }}">Extending Sherlock</a>
            </li>

        </ul>
    </div>
</div>


<!--
<div id="sidebar">
    <ul class="sidemenu">
        <li><a href="/documentation/installation-configuration/">Installation & Setup</a></li>
        <ul>
            <li><a href="/documentation/installation-configuration/#requirements">Requirements</a></li>
            <li><a href="/documentation/installation-configuration/#installation">Installation</a></li>
            <li><a href="/documentation/installation-configuration/#configuration">Sherlock Configuration</a></li>
            <li><a href="/documentation/installation-configuration/#cluster">Connecting to your cluster</a></li>
            <li><a href="/documentation/installation-configuration/#logging">Logging</a></li>
        </ul>
        <li><a href="#">Index Operations</a></li>
        <ul>
            <li><a href="#">Creating an index</a></li>
            <li><a href="#">Deleting an index</a></li>
            <li><a href="#">Updating settings</a></li>
            <li><a href="#">Updating mappings</a></li>
        </ul>
        <li><a href="#">Indexing Documents</a></li>
        <ul>
            <li><a href="#">Single documents</a></li>
            <li><a href="#">Batch requests</a></li>
            <li><a href="#">Batch with custom Commands</a></li>
            <li><a href="#">Streaming interface</a></li>
        </ul>
        <li><a href="#">Search Operations</a></li>
        <ul>
            <li><a href="#">Building a Search Query</a></li>
            <li><a href="#">Adding Filters</a></li>
            <li><a href="#">Adding Facets</a></li>
            <li><a href="#">Result Sorting</a></li>
            <li><a href="#">Constructing Raw queries</a></li>
        </ul>
        <li><a href="#">Dealing with Errors</a></li>
        <ul>
            <li><a href="#">ElasticSearch Exceptions</a></li>
            <li><a href="#">Sherlock Exceptions</a></li>
        </ul>
        <li><a href="#">Extending Sherlock</a></li>
        <ul>
            <li><a href="#">Plugins</a></li>
            <li><a href="#">Event Dispatcher</a></li>
        </ul>
    </ul>
</div>
-->